//- sponsors.pug

extends ../template.pug

mixin sponsor(img)
  - var path = `${locals.img}\/${img}`
  .sponsor
    img(src= path)

block append styles
  link(rel="stylesheet", href=`${locals.css}/sponsors.css`)

block content

  h1 Interested in Sponsoring ACM?
  p We love to work with companies where great people are solving challenging technical problems. Contact us for more information.
  
  .sponsors
    h2 Our Partners
    .columns.is-multiline
      each p in locals.partners
        .column.is-one-half
          +sponsor(p)
      
    h2 Sponsors
    .columns.is-multiline
      each s in locals.sponsors
        .column.is-one-half
          +sponsor(s)
