extends ../template.pug

block append styles
    link(rel="stylesheet", href=`${locals.css}/index.css`)

block append scripts
    script(src=`${locals.js}/events.js`)

block content
    //- include events
    #events.events
