//- contact.pug

extends ../template.pug

block append styles
  link(rel="stylesheet", href=`${locals.css}/contact.css`)

block content
  h1 Contact Us
  
  p
    | Our ACM chapter serves the Computer Science at Florida State University community by organizing numerous industry, academic, and social events each semester.
    
  br
  
  p
    | Email us at 
    a(href="mailto:hello@acmatfsu.org") hello@acmatfsu.org
    |, or join us on our social media platforms linked in the panel. 
