<!DOCTYPE html>
{% extends "base.html" %}

<!-- Title nonsense -->
{% block title %}
	{% if page and page.title %}
		{{ page.title }}
	{% else %}
		ACM at FSU
	{% endif %}
{% endblock %}


<!-- Page content -->
{% block content %}

<div class="container">
	<div class="row" id="main">

		<!-- Column for the real content -->
		<div class="col-md-8">

			<!-- Content control -->
			{% if dynamic_page %}
				<div class="page">
					<h1 class="post-title">{{page.title}}</h1>
					{{ page.html|safe }}
				</div>
			{% else %}
				{% block content_inner %}
				{% endblock %}
			{% endif %}


		</div> <!-- Content column -->

		<div class="col-md-1">
			<!-- Empty bar-->
		</div>

		<!-- "Sidebar" column -->
		<div class="col-md-3">
			<div class="sidebar">

			<!-- Recent Posts -->
			{% if latest %}
				<h1 class="sidebar-title">Recent Posts</h1>
				{% for post in latest %}
					<p><a href="/{{post.path}}">{{post.title}}</a></p>
				{% endfor %}
			{% endif %}

			<!-- Tags -->
			{% if tags %}
				<h1 class="sidebar-title">Categories</h1>
				{% for tag in tags %}
					<p><a href="/tags/{{tag}}">{{tag|capitalize}}</a></p>
				{% endfor %}
			{% endif %}

			</div> <!-- /sidebar div -->
		</div> <!-- /sidebar column -->
	</div>
</div>

{% endblock content %}
