//- officers/officers.pug

extends ../template.pug

mixin officer(name, position)
  .officer
    .name= name
    .position= position

block append styles
  link(rel="stylesheet", href=`${locals.css}/officers.css`)
      
block content
  h1 Our Chapter Officers
  
  if locals.officers.alumni
    h3 Current Officers
  .columns.is-multiline.is-mobile
    each o in locals.officers.current
      .column.is-one-third
        +officer(o.name, o.position)

  if locals.officers.alumni
    h3 Former Officers
    .columns.is-multiline.is-mobile
      each o in locals.officers.alumni
        .column.is-one-third
          +officer(o.name, o.position)

    
