<!DOCTYPE html>
{% extends "page.html" %}

{% block content_inner %}

	<div class="page">
		<h1 class="post-title">{{page.title}}</h1>
		{{ page.html|safe }}
	</div>

	<div class="page officers">

		<h2>ACM Officers</h2>
		{% for row in acm|slice(3) %}

			<div class="row">
				{% for officer in row %}
					<div class="officer col-md-4">
						<div class="officer-name">{{ officer.name }}</div>
						<div class="officer-role">{{ officer.role }}</div>
					</div>
				{% endfor %}
			</div>

		{% endfor %}
	</div>

	<div class="page officers">

		<h2>ACM-W Officers</h2>
		{% for row in acmw|slice(3) %}

			<div class="row">
				{% for officer in row %}
					<div class="officer col-md-4">
						<div class="officer-name">{{ officer.name }}</div>
						<div class="officer-role">{{ officer.role }}</div>
					</div>
				{% endfor %}
			</div>

		{% endfor %}
	</div>

{% endblock %}
